

/** Hoteling ICONS **/


@font-face{
    font-family: 'pwc';
    src: url('../fonts/pwc.ttf') format('truetype');
    src: url('../fonts/pwc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}