// colors
$white : #FFFFFF;
$grey50 :  #FAFAFA;
$grey100 : #F5F5F5;
$grey200 : #EEEEEE;
$grey300 : #E0E0E0;
$grey400 : #BDBDBD;
$grey500 : #9E9E9E;
$grey600 : #757575;
$grey700 : #616161;
$grey800 : #424242;
$grey900 : #212121;
$black : #000;
$dark:#282A2A;

$pursuitGrey : #F5F4F0;
$pursuitDarkGrey: #ccc7b3;

//ios Colors
$iosRed : rgb(255,59,48);
$iosOrange : rgb(255,149,0); 
$iosYellow : rgb(255,204,0);
$iosGreen : rgb(76,217,100);
$iosTealBlue : rgb(90,200,250);
$iosBlue : rgb(0,122,255);
$iosPurple : rgb(88,86,214);
$iosPink : rgb(255,45,85);

//PWC COLORS
$lightOrange : #FFE3BB;
$pwcTangerine : #FF9105;
$pwcOrange : #DC6900;
$pwcRed : #E0301E;
$pwcBurgundy : #A32020;