<section>
    <div class="container">
        <div class="row" style="padding-top: 96px">
        <div class="col-lg-4 col-lg-offset-4"><label class="generated-label">GetAll Leader Reviewer Screen</label>
        </div>
        </div>
        <div class="row" style="padding-top: 89px">
        <div class="col-lg-12 "><ag-grid-angular #Table_75451Grid style="width: 100%; height: 175px;" class="ag-fresh" [gridOptions]="Table_75451GridOptions" [rowData]="array_Leader_reviewer"></ag-grid-angular>
        </div>
        </div>
       <!--  <div class="row" style="padding-top: 84px">
        <div class="col-lg-3 col-lg-offset-4"><button class="btn btn-primary" (click)="get_all_Leader_reviewer()" style="width: 100%;">GetAll Leader Rewiever</button>
        </div>
        </div> -->

    </div>
</section>
