<section>
    <div class="container">
        <div class="row" style="padding-top: 21px">
        <div class="col-lg-6 col-lg-offset-2"><label class="generated-label">Update Nominee Screen</label>
        </div>
        </div>
        <div class="row" style="padding-top: 68px">
        <div class="col-lg-1 "><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.name"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Notes</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.notes"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 30px">
        <div class="col-lg-1 "><label class="generated-label">Person No</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.person_no"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Status</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.status"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 24px">
        <div class="col-lg-1 "><label class="generated-label">Manager</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.manager"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Dept_id</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.dept_id"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 24px">
        <div class="col-lg-1 "><label class="generated-label">Email</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.email"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Region</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.region"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 28px">
        <div class="col-lg-1 "><label class="generated-label">Line</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.line"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Market</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.market"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 19px">
        <div class="col-lg-1 "><label class="generated-label">Award Type</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.award_type"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Initial_Contribution_level</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.initial_contribution_level"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 24px">
        <div class="col-lg-1 "><label class="generated-label">Award Amount</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.award_amount"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Final_Contribution_level</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="nominee.final_contribution_level"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 19px">
        <div class="col-lg-2 col-lg-offset-2"><button class="btn btn-primary" (click)="update_Nominee()" style="width: 100%;">Update</button>
        </div>
        <div class="col-lg-2 "><a routerLink="/home"><button class="btn btn-primary" style="width: 100%;">Cancel</button></a>
        </div>
        </div>

    </div>
</section>
<modal #modalSFU>
	<modal-header [show-close]="true">
		<h4 class="modal-title">ID required!</h4>
	</modal-header>
	<modal-body>
		<md-input-container><input mdInput placeholder="Nominee ID" [(ngModel)]="nominee.id"></md-input-container>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalSFU.dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="search_for_update_Nominee()">Get Nominee</button>
	</modal-footer>
</modal>
