<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="menu-left-header">
      <ion-title>TeamRewardsApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="side-menu">
    <ion-list >
      <ion-item color="menu-left" *ngFor="let act of activities" (click)="openSubmenu(act)">
        {{act.title}}
        <ion-item color="menu-left" menuClose *ngIf="act.showSubMenu">
          <ion-list>
            <button color="menu-left" ion-item menuClose *ngFor="let p of act.pages" (click)="openPage(p)">
              {{p.title}}
            </button>
          </ion-list>
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menu -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>